
    <h1>Premailer</h1>

    <p class="lede">Pre-flight for HTML email.</p>

    <h3 style="text-center">Please choose between the two</h3>

    <form method="post" action="/" id="premailer_form">
      <div class="field text">
        <label class="toggle" id="process_url_label">Use a URL as the source
          <p class="sublabel">Don&rsquo;t forget http://.</p>
        </label>

        <span id="process_url">
          <input type="hidden" name="content_source" id="content_source" value="url">
          <input type="text" class='text' id="url" name="url" value="<%= @initial_doc %>">
        </span>
      </div>


      <div class="field textarea">
        <label class="toggle" id="process_html_label">Paste HTML as the source
          <p class="sublabel">Make sure you use absolute URLs.</p>
        </label>

        <span id="process_html">
          <input type="hidden" name="content_source" id="content_source" value="html">
          <textarea id="html" name="html" cols="20" rows="5"></textarea>
        </span>
      </div>


    <div class="field optional text">
      <label for="querystring">Query string to append to links
        <span class="sublabel">Useful for adding tracking codes.</span>
        </label>
      <input type="text" id="querystring" name="querystring" class="text" value="">

    </div>

    <div class="optional field ">
      <label>Options</label>
      <div class="checkboxes">
        <label class="check"><input type="checkbox" id="remove_classes" name="remove_classes" value="yes"> Remove classes</label>
        <label class="check"><input type="checkbox" id="remove_ids" name="remove_ids" value="yes"> Remove unused IDs</label>
        <label class="check"><input type="checkbox" id="remove_comments" name="remove_comments" value="yes"> Remove comments</label><br>
        <label class="check"><input type="checkbox" id="preserve_styles" name="preserve_styles" value="yes"> Don’t remove &lt;style&gt; and &lt;link&gt; elements</label>
      </div>
    </div>

    <div class="field button">
        <button type="submit" class="submit">Submit</button>
    </div>
  </form>



