<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Premailer: pre-flight for HTML email</title>
  <meta name="author" content="Mar">
  <meta name="description" content="Premailer: preflight for HTML e-mail.  Makes CSS inline, converts links and warns about unsupported code.">
	<link href="https://fast.fonts.com/cssapi/b52d9922-6932-42b2-9d6f-48e3653a54af.css?1" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/inc/screen.css">
	<script type="text/javascript"> document.documentElement.className = 'js'; </script>
	<script type="text/javascript" src="/inc/jQuery.js"></script>
  	<meta name="viewport" content="width=1140">
  <link rel="stylesheet" type="text/css" href="/inc/premailer.css">
  <link rel="stylesheet" type="text/css" href="/inc/site.css">
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
</head>
<body class="code">
<div id="container" class="vcard">

<div id="page" style="padding: 2em 4em; width: auto;">

	<div id="content">

    <%= yield %>

  </div>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#process_html').hide();
      $('#process_url_label').click(function () {
        $('#process_url').show();
        $('#process_html').hide();
        $('#content_source').val('url');
      });

      $('#process_html_label').click(function () {
        $('#process_url').hide();
        $('#process_html').show();
        $('#content_source').val('html');
      });



      $('.premailer_output').click(function () {
        $('.premailer_output').height('auto');
        $(this).height(400);

      });
    });
  </script>
</div>
</div>
</body>
</html>
